<div class="container">
	<div class="jumbotron mt-2">
		<h1 class="mt-0 mb-5 text-center">{{title}}</h1>
		<div class="row mx-4">
			{{#each data}}
			<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
				<div class="card bg-secondary text-light center">
					<a href="/products/{{this.id}}" class="text-light">
						<img class="card-img-top" src="{{this.pic}}">
						<!-- style="object-fit: cover;" height="100em" -->
						<div class="">
								<h6 class="card-title text-center my-3">{{this.brand}} {{this.product_name}}</h5>
						</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
		<!-- <form method="GET" action="/product/create">
			<div class="form-group">
				<div class="text-center">
					<button type="submit" class="btn btn-primary btn-block">Create Product</button>
				</div>
			</div>
		</form> -->
	</div>
</div>