<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div>
				<table class="table-bordered">
					<h1>Customers</h1>
					<thead>
							<tr style="text-align:center;">
								<th style="padding:20px;">Name</th>
								<th style="padding:20px;">Email Address</th>
								<th style="padding:20px;">Product</th>
								<th style="padding:20px;">Quantity</th>
								<th style="padding:20px;">Purchase Date</th>
							</tr>
					</thead>
					{{#each rows}}		
					<tbody>
							<tr style="text-align:center;">
								<td style="padding:15px;">{{this.first_name}} {{this.last_name}}</td>
								<td style="padding:15px;">{{this.email}}</td>
								<td style="padding:15px;">{{this.name}}</td>
								<td style="padding:15px;">{{this.quantity}}</td>
								<td style="padding:15px;">{{this.order_date}}</td>
							</tr>
					</tbody>	
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>