<body>

<div class="container">    
                  <div class="row">
                      <div class="panel panel-default panel-pos">
	                      <div class="panel-heading">
	                      	<h1>TEAM 8</h1>
	                      </div>
                      <div class="panel-body">
	                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
	                       <img alt="Team 8 member" src="{{imageUrl}}" id="profile-image1" class="img-responsive" style="border-radius:50%;height:300px;"> 
	                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h1 class="namee">{{name}}        <a href="{{fb}}" class="fa fa-facebook" target="_blank"></a>  <a href="{{tw}}" class="fa fa-twitter" target="_blank"></a>  <a href="{{gmail}}" class="fa fa-google" target="_blank"></a></span></h1>           
                          </div>
                           <hr>
                          <p><strong>Email:</strong> {{email}}</p>
                          <p><strong>Contact:</strong> {{phone}}</p>
                          <p><strong>Hobbies:</strong> {{hobbies.[0]}}, {{hobbies.[1]}}, {{hobbies.[2]}}, {{hobbies.[3]}}, {{hobbies.[4]}}</p>
                          <p><strong>Skills:</strong> {{skills.[0]}}, {{skills.[1]}}</p>
                </div>
            </div>
            </div>
</body>
