<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h2>Update Product</h2>
    <form method="POST" action="/product/update/{{rows.id}}/saving">
      <div class="controls">
        <div class="form-group">
          <label class="control-label" for="product_name">Product Name *</label>
          <div>
            <input id="product_name" name="product_name" type="text" value="{{rows.product_name}}" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="product_description">Description *</label>
          <div>
            <input id="product_description" name="product_description" type="text" value="{{rows.description}}" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="price">Price *</label>
            <div>
            <input id="price" value="{{rows.price}}" name="price" type="number" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="pic">Product Image *</label>
            <div>
            <input id="picture" value="{{rows.pic}}" name="pic" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="category">Category *</label>
          <div>
            <select class="form-control" id="category_id" name="category_id" required="">
              {{#each brand.[0]}}
                <option value="{{this.id}}">{{this.category_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="brand">Brand *</label>
            <div>
            <select class="form-control" id="brand_id" name="brand_id" required="">
                {{#each brand.[1]}}
                <option value="{{this.id}}">{{this.brand_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" title="Submit">Update Product</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>