<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
      <a class="navbar-brand" style="color:red">   ShoopShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav mr-auto">
           <li class="nav-item active">
            <a class="nav-link" href="/admin">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/product/admin">View Products</a></li>
              <li><a href="/product/create">Create Products</a></li>
            </ul>
          </li>

          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/Categories">View Categories</a></li>
              <li><a href="/category/create">Create Categories</a></li>
            </ul>
          </li>

          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/brands">View Brands</a></li>
              <li><a href="/brands/Create">Create Brands</a></li>
            </ul>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
          </li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a type="button" class="btn btn-primary btn-md nav-link" href="/logout">Logout</a>
               </li>
          </ul> 
      </div>
    </nav>








<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h2>Update Product</h2>
    <form method="POST" action="/product/update/{{rows.id}}/saving">
      <div class="controls">
        <div class="form-group">
          <label class="control-label" for="product_name">Product Name *</label>
          <div>
            <input id="product_name" name="product_name" type="text" value="{{rows.product_name}}" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="product_description">Description *</label>
          <div>
            <input id="product_description" name="product_description" type="text" value="{{rows.description}}" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="price">Price *</label>
            <div>
            <input id="price" value="{{rows.price}}" name="price" type="number" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="pic">Product Image *</label>
            <div>
            <input id="picture" value="{{rows.pic}}" name="pic" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="category">Category *</label>
          <div>
            <select class="form-control" id="category_id" name="category_id" required="">
              {{#each brand.[0]}}
                <option value="{{this.id}}">{{this.category_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="brand">Brand *</label>
            <div>
            <select class="form-control" id="brand_id" name="brand_id" required="">
                {{#each brand.[1]}}
                <option value="{{this.id}}">{{this.brand_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" title="Submit">Update Product</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<footer>
      <div class="ft">
        <span class="foot-text">&copy; 2018 <span class="team">TEAM 8</span> <span class="labs">Loves</span> <span class="you">YOU!!</span></span>
      </div>
    </footer>
