<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
			<a class="navbar-brand" style="color:red">   ShoopShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">View Products</a></li>
							<li><a href="/product/create">Create Products</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/product/create">Create Product<span class="sr-only">(current)</span></a>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Categories">View Categories</a></li>
							<li><a href="/category/create">Create Categories</a></li>
						</ul>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/brands">View Brands</a></li>
							<li><a href="/brands/Create">Create Brands</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
					</li>
		        </ul>	
			</div>
		</nav>








<div class="container">
	<div class="jumbotron mt-2">
		<h1 class="mt-3 text-center">{{product_name}}</h1>
			<div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto" >
				<div class="card bg-dark text-light center"  height = "350px" width="250px">
					<img class="card-img-top text-center" src="{{pic}}" alt="" style="max-width:350px;max-height:250px;" >
					<div class="card-body" >
						<!--<h4 class="card-title">Model Name: {{this.name}}</h4>
						--><h4 class="card-title text-center">Brand: {{brand_name}}</h4>
							<h5 class="card-title text-center">₱ {{price}}.00</h5>
					
						<p>
							<h6 class="card-title text-center">Category: {{category_name}}</h7>
						</p>
							<h6 class="card-title text-center">Description: {{product_description}}</h7>
					</div>
				</div>
			</div>
		
		<div class="form-group">
			<div class="text-center">
				
				<form method="GET" action="/product/update/{{id}}">
					<button type="submit" class="btn btn-outline-success btn-lg" title="Update Product">
					Update this Product
					</button>
				</form> 
				
			</div>
		</div>
	</div>
</div>

<div class="container pb-5 mb-5">
	<div class="jumbotron mt-2">
		<h2 style="text-align:center;">Order Form</h2>
		<form method="POST" action="{{id}}/send">
			<div class="controls">
						<div class="form-group">
							<label class="control-label" for="quantity">Quantity</label>
							<div>
								<input id="quantity" name="quantity" type="number" class="form-control" required="" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="first_name">First Name</label>
							<div>
								<input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control" required="" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="last_name">Last Name</label>
							<div>
								<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" required="" >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="street">Street</label>
							<div>
								<input id="street" name="street" type="text" placeholder="Street" class="form-control" required="" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="municipality">Municipality/City</label>
							<div>
								<input id="municipality" name="municipality" type="text" placeholder="City" class="form-control" required="" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="province">Province</label>
							<div>
								<input id="province" name="province" type="text" placeholder="State" class="form-control" required="" >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="email">Email</label>
							<div>
								<input id="email" name="email" type="text" placeholder="Email" class="form-control" required="" >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="product_name">Product Name</label>
							<div>
								<input id="product_name" name="product_name" type="text" value="{{product_name}}" class="form-control" readonly="" >
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="zipcode">Zipcode</label>
							<div>
								<input id="zipcode" name="zipcode" type="number" class="form-control" required="" >
							</div>
						</div>

						<div class="">
							<div class="text-center">
								<button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">Order</button>
							</div>
						</div>

					</div>
		</form>
	</div>
</div>

<footer>
			<div class="ft">
				<span class="foot-text">&copy; 2018 <span class="team">TEAM 8</span> <span class="labs">Loves</span> <span class="you">YOU!!</span></span>
			</div>
		</footer>
